*, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Styling video */
#video-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

/* Konten */
#content {
    position: relative;
    z-index: 1;
    color: #f0f0ff; 
}

/* NAVBAR */
.container-nav {
    background-color: rgba(105, 14, 232, 0.45);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 52px;
} 

.nav h1 {
    color: #f0f0ff;
    font-size: 24px;
}

.nav a {
    text-decoration: none;
    color: white;
    background-color: #bb00ff;
    padding: 10px 14px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
}

.nav a:hover {
    background-color: #9b4dff;
    transition: 0.4s;
}

/* FORM PENCARIAN */
.container-pencarian {
    display: flex;
    justify-content: center;
}

.pencarian {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(6px);
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    gap: 18px;
    padding: 24px 32px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.15); /* border glow */
}

.pencarian h2 {
    color: #f0f0ff;
    text-align: center;
}

.pencarian input {
    background-color: rgba(255,255,255,0.8);
    border: none;
    padding: 12px 10px;
    border-radius: 8px;
}

.pencarian button {
    border: none;
    color: white;
    background-color: #bb00ff;
    padding: 10px 14px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
}

.pencarian button:hover {
    cursor: pointer;
    background-color: #9b4dff;
    transition: 0.4s;
}

/* TABEL */
.container-tb {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container-tb table {
    background: rgba(255,255,255,0.04);
    backdrop-filter: blur(6px);
    color: #f0f0ff;
    border-collapse: collapse;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.15);
}

.container-tb th {
    padding: 26px 24px;
    color: #00aaff;
}

.container-tb td {
    padding: 26px 24px;
    text-align: center;
}

.btn-edit {
    background: #bb00ff;
    color: white; 
    text-decoration: none;
    padding: 12px 18px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    margin: 4px;
    transition: background-color 0.4s;
}

.btn-edit:hover {
    background-color: #9b4dff;
}

.btn-hapus {
    background: #FF4136; 
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    margin: 4px;
    transition: background-color 0.4s;
}

.btn-hapus:hover {
    background-color: #CC0000; 
}